#fixedButton {
    display: block;
    background-color: #d23f31;
    border-color: transparent;
    border-radius: 50%;
    width: 58px;
    height: 58px;
    position: fixed;
    bottom: 70px;
    right: 50px;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

#fixedButton:hover {
    background-color: #D32F2F
}

#fixedButton:focus {
    outline: none;
} 