<header class="header">
    <h1 class="header-title">Candidates</h1>
    <div class="clear"> </div>
</header>
<hr/>

<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#searchDiv">
    <span class="glyphicon glyphicon-search"></span>
    Search
</button>
<br/>
<div id="searchDiv" class="row collapse">
    <div class="col-sx-6 col-md-4">
        <input type="text" #listFilter (keyup)="0" class="form-control input-lg" placeholder="Search firstname...">
    </div>

    <div class="col-sx-6 col-md-4">
        <label for="#eventType">Sort by event:</label>
        <select #eventType required (ngModelChange)="onChange($event)" class="eventSelect">
            <option value="" aria-selected="Select Event">-select none-</option>
            <option [ngValue]="event.uuid" *ngFor="let event of events">
                {{event.name}}
            </option>
        </select>
    </div>
</div>
<br/>

<div id="list" class="row">
    <div class="table-responsive col-md-12">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <td>Show Details</td>
                    <td>Thumbnail</td>
                    <td>Firstname</td>
                    <td>Lastname</td>
                    <td>Email</td>
                    <td>Education</td>
                    <td>Interests</td>
                    <td>Status</td>
                    <td>Type</td>
                    <td>YOB</td>
                    <td>Phone</td>
                    <td>Reg. date</td>
                    <td>Gender</td>
                    <td>Process</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let candidate of candidates | candidateFilter:listFilter.value;">
                    <td><a [routerLink]="['./', candidate.candidateUuid]" routerLinkActive="active" class="btn btn-primary">Details</a></td>
                    <td><img *ngIf="candidate.thumbnail?.length > 0" [src]="'data:image/jpg;base64,'++candidate.thumbnail" style="width:128px;height:105px;"></td>
                    <td>{{candidate.firstName}}</td>
                    <td>{{candidate.lastName}}</td>
                    <td>{{candidate.email}}</td>
                    <td>{{candidate.education}}</td>
                    <td>{{candidate.interests}}</td>
                    <td>{{candidate.status}}</td>
                    <td>{{candidate.type}}</td>
                    <td>{{candidate.yearOfBirth}}</td>
                    <td>{{candidate.phone}}</td>
                    <td>{{candidate.registrationDate | date: 'yyyy-MM-dd'}}</td>
                    <td>{{candidate.gender}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>