/* You can add global styles to this file, and also import other style files */

@import '~https://fonts.googleapis.com/icon?family=Material+Icons';

.dark-primary-color    { background: #1976D2!important }
.default-primary-color { background: #2196F3!important }
.light-primary-color   { background: #BBDEFB!important }
.text-primary-color    { color: #FFFFFF!important }
.accent-color          { background: #607D8B!important }
.primary-text-color    { color: #212121!important }
.secondary-text-color  { color: #757575!important }
.divider-color         { border-color: #BDBDBD!important }
.main-color            { background: #2768a9!important }
.button-color          { background: #4292d1!important }


html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  background: #fafafa;
  letter-spacing: 0.5px;
  color: #757575;
}


body { 
    padding-top: 65px; 
}

.container {
  padding-top: 5px;
  width: 100%;
  background-position: center
  
}


a {
    cursor: pointer;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.header {
    box-sizing: border-box;
    box-shadow: none;
    padding: 48px 2px 2px 0px;
    position: relative;
    height: 120px;
    width: 100%;
    display: block;
    text-align: center
}

.header .header-title {
    display: inline-block;
    color: #212121;
    font-size: 28px;
    font-weight: 400;
    line-height: 48px;
    margin: 0 8px 0 0;
    text-transform: uppercase;
}
.header-title-collapse{
    cursor: pointer;
    display: inline-block;
    color: #212121;
    font-size: 28px;
    font-weight: 400;
    line-height: 48px;
    margin: 0 8px 0 0;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>li>{
    display: inline-block;
    text-transform: uppercase;
    line-height: 40px;
}

input:focus::-webkit-input-placeholder{
    color: transparent!important;
}
input:focus::-moz-placeholder{
    color: transparent!important;
}
input:focus:-moz-placeholder{
    color: transparent!important;
}

.eventSelect {
  height: 46px;
  width: 200px;
  -moz-appearance: none;
  -ms-progress-appearance: none;
  overflow: hidden;
  border-radius: 6px;   /* add custom arrow */
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border: 1px solid #ccc
}

.badge {
    background-color: #2768a9;
    font-size: 14px;
}